<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.decisionmaker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DecisionMaker">
        <activity android:name=".UI.activities.AddChoices"
            android:parentActivityName=".UI.activities.StartingActivity"/>
        <activity android:name=".UI.activities.DecisionView"
            android:parentActivityName=".UI.activities.StartingActivity"/>
        <activity android:name=".UI.activities.Prepare"
            android:parentActivityName=".UI.activities.StartingActivity"/>
        <activity android:name=".UI.activities.CriteriaScore"
            android:parentActivityName=".UI.activities.StartingActivity"/>
        <activity android:name=".UI.activities.Perma"
            android:parentActivityName=".UI.activities.StartingActivity"/>
        <activity android:name=".UI.activities.Submenu"
            android:parentActivityName=".UI.activities.StartingActivity"/>
        <activity android:name=".UI.activities.DecisionMenu"
            android:parentActivityName=".UI.activities.StartingActivity"/>
        <activity android:name=".UI.activities.History"
            android:parentActivityName=".UI.activities.StartingActivity"/>
        <activity android:name=".UI.activities.Settings"
            android:parentActivityName=".UI.activities.StartingActivity"/>
        <activity android:name=".UI.activities.StartingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>